
<div style="display: flex; flex-direction:column">
{{#each tracks}}

    <p>{{track_number}} : <b>{{name}}</b> -- <button><a href="{{preview_url}}">Play a sample</a></button></p>
    
{{/each}}

</div>
